<div class="pockets-container">
    <div class="header-info">
        <h2>Welcome to create pockets</h2><br>
        <p>Here you can create and manage your pockets for better organization of your items.</p>
    </div>
<br>
    <div class="pocket-create">
        <button type="button" class="btn-primary" (click)="openPocketManager()">Create Pocket</button>
    </div>

    <div class="modal-backdrop" *ngIf="showPocketManager" (click)="closePocketManager()" aria-hidden="true"></div>

    <div class="modal" *ngIf="showPocketManager" role="dialog" aria-modal="true" aria-labelledby="pocketManagerTitle">
        <div class="modal-content">
            <header class="modal-header">
                <h3 id="pocketManagerTitle">Create Pocket</h3>
                <button type="button" class="modal-close" (click)="closePocketManager()" aria-label="Close">X</button>
            </header>
            <section class="modal-body">
                <app-pocket-manager (created)="onPocketCreated($event)"></app-pocket-manager>
            </section>
        </div>
    </div>
    <section class="pockets-list">
        <h3>Your pockets</h3>
        <div *ngIf="pockets && pockets.length > 0; else empty">
            <app-pocket-view *ngFor="let p of pockets" [pocket]="p"></app-pocket-view>
        </div>
        <ng-template #empty>
            <p>No pockets yet. Create one to get started.</p>
        </ng-template>
    </section>

</div>