<div class="register-container">
  
  <div class="form-wrapper">
    
    <div class="introduction">
      <h2>Welcome to YuxBank</h2>
      <p>Please fill in the details below to create your account.</p>
    </div>

    <form (ngSubmit)="onSubmit()">

      <div class="field-container">
      <input 
        type="text" 
        id="username" 
        [value]="name()" 
        (input)="updateName($any($event.target).value)" 
        name="username"
        placeholder="jon" 
        required 
      />
      <label for="username">Name</label>
    </div>
    
    <div class="field-container">
      <input 
      type="text" 
        id="lastname" 
        [value]="last_name()" 
        (input)="updateLastName($any($event.target).value)" 
        name="lastname" 
        placeholder="doe" 
        required 
      />
      <label for="lastname">Last Name</label>
    </div>
    
    <div class="field-container">
      <input 
        type="email" 
        id="email" 
        [value]="email()" 
        (input)="updateEmail($any($event.target).value)" 
        name="email" 
        placeholder="jon.doe@example.com" 
        required 
      />
      <label for="email">Email</label>
    </div>

    <div class="field-container">
      <input 
        type="password" 
        id="password" 
        [value]="password()" 
        (input)="updatePassword($any($event.target).value)" 
        name="password" 
        placeholder="#@password" 
        required 
      />
      <label for="password">Password</label>
    </div>

    <div class="field-container">
      <input 
        type="password" 
        id="confirmPassword" 
        [value]="confirm_password()" 
        (input)="updateConfirmPassword($any($event.target).value)" 
        name="confirmPassword" 
        placeholder="#@password" 
        required 
      />
      <label for="confirmPassword">Confirm Password</label>
    </div>

    <button type="submit">Register</button>

    </form>
  </div>
</div>
<main class="container">
  <router-outlet></router-outlet>
<app-footer> </app-footer>
</main>