.recover-password-confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: #038b71;
}

.confirmation-message {
    text-align: center;
    color: white;
    background-color: #79c8c6; /* verde aqua */
    padding: 3rem 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 0 2rem 2rem 2rem; /* más espacio arriba */
}
.confirmation-message h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #038b71; /* verde esmeralda */
}
.confirmation-message p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #5b7900; /* verde más oscuro */
    opacity: 0.9;
}

.code-input-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 1.5rem;
}
.code-input-container input {
    width: 100%;
    max-width: 300px;
    padding: 0.75rem;
    border: 4px solid #dce53f;
    border-radius: 10px;
    font-size: 5rem;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: row; /* Cambiar a vertical */
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    gap: 1.5rem;
}
.button-container button {
    background-color: #8aa632;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.button-container button:hover {
    background-color: #72972a;
}
.button-container button:active {
    background-color: #5b7900;
}
.button-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}  