
<div class="slider-frame"> 
  <ul>
    <li><img src="slider_images/SLIDER1.jpeg" alt=""></li>
    <li><img src="slider_images/SLIDER2.jpeg" alt=""></li>
    <li><img src="slider_images/SLIDER3.jpeg" alt=""></li>
    <li><img src="slider_images/SLIDER4.jpeg" alt=""></li>
    <li><img src="slider_images/SLIDER5.webp" alt=""></li>
  </ul>
</div>

<section class="about-us"> 
  <h2>¿Quiénes somos?</h2>
  <p>Somos un banco 100% digital que busca brindarte seguridad, confianza y facilidad para manejar tu dinero desde cualquier lugar.</p>
</section>

<section class="services">
  <h2>¿Qué ofrecemos?</h2>
  <p>Ofrecemos una amplia gama de servicios financieros, incluyendo cuentas de ahorro, préstamos y asesoramiento financiero personalizado.</p>
</section>

<section class ="por-que-elegirnos">
  <h2>¿Por qué elegirnos?</h2>
  <ul>
    <li>Porque somos un banco innovador que pone a nuestros clientes en el centro de todo lo que hacemos.</li>
    <li>Ofrecemos soluciones adaptadas a las necesidades de cada cliente.</li>
    <li>Nuestra plataforma es 100% digital, lo que te permite acceder a tus servicios bancarios desde cualquier lugar.</li>
    <li>Contamos con un equipo de expertos en finanzas que están siempre disponibles para ayudarte.</li>
    <li>Nos comprometemos a brindarte la mejor experiencia bancaria posible.</li>
  </ul>
</section>

<section class="faq">
  <h2>Preguntas Frecuentes</h2>
  <ul>
    <li>¿Cómo puedo abrir una cuenta?</li>
    <p>Para abrir una cuenta, puedes hacerlo a través de nuestra página web o app móvil, siguiendo unos sencillos pasos.</p>
    <li>¿Qué documentos necesito para solicitar un préstamo?</li>
    <p>Necesitarás tu identificación oficial, comprobante de ingresos y un comprobante de domicilio.</p>
    <li>¿Cómo puedo contactar al servicio al cliente?</li>
    <p>Puedes contactarnos a través de nuestro correo electrónico o llamando a nuestro número de atención al cliente.</p>
  </ul>
</section>

<footer>
  <p>&copy; 2023 YuxBank. Todos los derechos reservados.</p>
</footer>