<div class="slider-frame"> 
  <ul>
    <li><img src="slider_images/img1.jpg" alt=""></li>
    <li><img src="slider_images/img2.jpg" alt=""></li>
    <li><img src="slider_images/img3.jpg" alt=""></li>
    <li><img src="slider_images/img4.jpg" alt=""></li>
    <li><img src="slider_images/img5.jpg" alt=""></li>
  </ul>
</div>

<section class="about-us"> 
  <h2>Who we are?</h2>
  <p>We are a 100% digital bank that aims to provide you with security, trust, and convenience to manage your money from anywhere.</p>
</section>

<section class="services">
  <h2>What do we offer?</h2>
  <p>We offer a wide range of financial services, including savings accounts, loans, and personalized financial advice.</p>
</section>

<section class ="why-choose-us">
  <h2>Why choose us?</h2>
  <ul>
    <li>Because we are an innovative bank that puts our customers at the center of everything we do.</li>
    <li>We offer solutions tailored to each customer’s needs.</li>
    <li>Our platform is 100% digital, allowing you to access your banking services from anywhere.</li>
    <li>We have a team of financial experts always available to help you.</li>
    <li>We are committed to giving you the best banking experience possible.</li>
  </ul>
</section>

<section class="faq">
  <h2>Frequently Asked Questions</h2>
  <ul>
    <li>How can I open an account?</li>
    <p>To open an account, you can do it through our website or mobile app by following a few simple steps.</p><br>
    <li>What documents do I need to apply for a loan?</li>
    <p>You will need your official ID, proof of income, and proof of address.</p><br>
    <li>How can I contact customer service?</li>
    <p>You can contact us via our email or by calling our customer service number.</p><br>
  </ul>
</section>

<app-footer> </app-footer>  